:root{      
--color-primario: #003B5C;
--color-secundario: #005B5C;
--color-acento: #A8D8B9;
--color-fondo: #E0F7FA;
--color-texto: #1A1A1A;
--fuente-principal:"Open Sans" , sans-serif;

}
/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Estilos para el cuerpo y texto */
body{
    font-family: var(--fuente-principal);
    color: var(--color-texto);
    background-color: var(--color-fondo);
    line-height: 1.5;
    font-size: 1rem;
    max-width: 1500px;
    margin: auto;
    padding: 1rem;
}
/* Estilos para el encabezado y navegación */
header {
    padding: 1rem;
    background-color: var(--color-primario);
   text-align: center;
}
/* Estilos para el logo */
.logo {
    width: 150px;
    height: auto;
    margin-right: 1rem;
}
/* Estilos para la navegación */
nav {
    background-color: var(--color-secundario);
    padding: 1rem;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}
nav a:hover {
    color: var(--color-acento);
}
/* Estilos para los titulos y subtitulos */
h1 {
    font-size: 2.5rem;
    color: var(--color-acento);
    text-align: center;
}
h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
    color: var(--color-texto);
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--color-texto);
    text-align: center;
}
/* Estilos para el footer */
footer {
    background-color: var(--color-secundario);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}